<div class="card gap-5">
  <h2 class="card-title">Details</h2>

<div class="card-body">
   <h2 class="card-text">{{movieDetails.title}}</h2>
  <p class="card-text">Genre: {{movieDetails.genre}}</p>
  <p class="card-text">Plot: {{movieDetails.plot}}</p>

  {{#each movieDetails.cast}}
    <p class="card-text">Actor: {{this.name}}</p>
    <p class="card-text">Occupation: {{this.occupation}}</p>
    <p class="card-text">Catch phrase: {{this.catchPhrase}}</p>
  {{/each}}

  <form action="/movies/{{movieDetails._id}}/delete" method="post">
    <button class="btn btn-outline-danger">Delete</button>
  </form>
  <a href="/movies/{{movieDetails._id}}/edit">
    <button type="button" class="btn btn-outline-info">Edit</button>
  </a>

</div>
 
</div>